/*Universal style e.g. button`s */

/*Footer*/
footer {
  height: 86px;
  display: flex;
    
  p {
    color: $color-dark;
    font-size: 15px;
    font-weight: $font-semibold;
    margin: auto;
  }
}