.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url("../images/background.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 0;
}

.hero-text-first h1 {
  text-align: left;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.hero-text-secound h1{
  text-align: left;
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-5%, -55%);
}
/* The navbar */
.topnav {
  overflow: hidden;
  left: 60%;
  top: 50%;
  position: absolute;
}
  
/* Navbar links */
.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.top-left {
  position: absolute;
  left: 20%;
}

.discover{
  position: absolute;
  top: 90%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.main-text::after {
  position: absolute;
  content: '';
  bottom: -12px;
  top: 65%;
  left: 50%;
  width: 280px;
  height: 7px;
  transform: translate(-50%, -50%);
  background: $color-detail;
}

@media (max-width: 1000px){
  .hero-text-first h1{
    font-size: 32px;
    left: 70%;
    width: 100%;
    transform: translate(-50%, -50%);
  }

  .hero-text-secound h1{
    font-size: 32px;
  }

  .topnav{
    padding-top: 60px;
  }
}