/*colors,fonts etc.*/

//font
$font-family: 'Source Sans Pro', sans-serif;
$font-black: 900;
$font-semibold: 600;
$font-bold: 700;
$font-regular: 400;

//colors

$color-detail:#BEA67C;
$color-light: #FFF;
$color-dark: #000;